.award {
  background: url('../img/logo/one-page-love.png');
  display: block;
  position: absolute;
  height: 56px;
  left: 0;
  margin-top: -28px;
  text-indent: -9999px;
  top: 50%;
  width: 73px;
  z-index: 1000;
}
