.header {
  display: table;
  height: calc(100vh - 20px);
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.header-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.header-title {
  color: #FFF;
  display: block;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  text-shadow: 2px -2px #F00, -2px -2px #0FF, -2px  2px #FF0, 2px 2px #00F;
  z-index: 2;
}

.header-list {
  bottom: 0;
  left: 0;
  list-style: none;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.header-link {
  color: #FFF;
  font-size: 20px;
  position: absolute;
  text-transform: uppercase;

  &-about {
    left: 20px;
    top: 15px;
  }

  &-work {
    right: 20px;
    top: 15px;
  }

  &-resume {
    bottom: 15px;
    left: 20px;
  }

  &-contact {
    bottom: 15px;
    right: 20px;
  }
}

.header-canvas {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
