.menu {

}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-link {
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  padding: 30px 50px;
  position: absolute;
  text-transform: uppercase;
  z-index: 4;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
}
