.music {
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 30px;
  width: 100%;
  z-index: 3;
}

.music-soundcloud {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.music-btns {
  display: block;
  margin-top: 10px;
}

.music-btn {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  fill: #FFF;
}

.music-toggle {
  .music-btn-icon-pause {
    display: block;
  }

  .music-btn-icon-play {
    display: none;
  }

  &.is-paused {
    .music-btn-icon-pause {
      display: none;
    }

    .music-btn-icon-play {
      display: block;
    }
  }
}

.music-btn-icon {
  height: 25px;
  width: 25px;
}

@media (max-width: 1110px) {
  .music {
    display: none;
  }
}
