<footer class="site-footer">
    {{ site.title }}
    {{ site.description }}

    {{ site.email }}

    {% if site.github_username %}
      {{ site.github_username }}
    {% endif %}

    {% if site.twitter_username %}
      {{ site.twitter_username }}
    {% endif %}
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script>
<script src="{{ "/dist/js/util.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/dist/js/main.min.js" | prepend: site.baseurl }}"></script>
