<header class="header">
  <div class="header-wrapper">
    <h1 class="header-title">
      <a href="{{ site.baseurl }}/">
        {{ site.title }}
      </a>
    </h1>

    <ul class="header-list">
      <li class="header-item">
        <a href="#" data-text="About" class="header-link header-link-about">
          About
        </a>
      </li>
      <li class="header-item">
        <a href="#" data-text="Work" class="header-link header-link-work">
          Work
        </a>
      </li>
      <li class="header-item">
        <a href="#" data-text="Résumé" class="header-link header-link-resume">
          Résumé
        </a>
      </li>
      <li class="header-item">
        <a href="#" data-text="Contact" class="header-link header-link-contact">
          Contact
        </a>
      </li>
    </ul>
  </div>

  <canvas class="header-canvas"></canvas>
</header>
