// Introduction.
.intro {
  display: table;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  &:after {
    background: repeating-radial-gradient(center center, rgba(255, 255, 255, .5), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-size: 10px 10px;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}



// Wrapper.
.intro-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}



// Letters.
.intro-title {
  color: #FFF;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1em;
  margin-right: -1em;
}



// Canvas.
.intro-canvas {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -2;
}



// Menu.
.intro-menu {

}

.intro-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.intro-link {
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  position: absolute;
  text-transform: uppercase;
  z-index: 2;
}

.intro-link-about {
  left: 20px;
  top: 20px;
}

.intro-link-blog {
  right: 20px;
  top: 20px;
}

.intro-link-resume {
  bottom: 20px;
  left: 20px;
}

.intro-link-contact {
  bottom: 20px;
  right: 20px;
}


// Music.
.intro-music {
  bottom: 20px;
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  left: 50%;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%);
  z-index: 3;
}

.intro-music-soundcloud {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}


// Responsive.
@media (max-width: 1110px) {
  .intro-music {
    display: none;
  }
}
